
.card-header[id^=panel-header-C] {
    background-color: #b5e7a0;
    span {
        color: black;
    }
}

.card-header[id^=panel-header-D] {
    background-color: #d64161;
    span {
        color: cornsilk;
    }
}