<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="assets/agile_logo.png">
</div>

<div class="container">
  <ngb-accordion #acc="ngbAccordion" activeIds="" closeOthers="true">
    <ngb-panel *ngFor='let user of users'>
      <ng-template ngbPanelTitle>
        <span>User: {{ user.firstName}} {{ user.lastName }}</span>
      </ng-template>
      <ng-template ngbPanelContent>
              <span>Current Balance : {{ user.balance}}</span> <br />
              <span>Email: {{ user.email}}</span>           
              <ngb-accordion closeOthers="true">
                <ngb-panel id="panel-header-{{tx.type}}{{tx.id}}" *ngFor='let tx of user.transactions'>
                  <ng-template ngbPanelTitle *ngFor='let user of users' >
                    <div>
                      <span>Transaction Date: {{ tx.date | date: 'dd/MM/yyyy hh:mm:ss' }}</span>
                    </div>
                  </ng-template>
                  <ng-template ngbPanelContent>
                    <ul class="list-group">
                      <li class="list-group-item"><span>Transaction Id: {{ tx.id }}</span></li>
                      <li class="list-group-item"><span>Transaction Ammount: {{ tx.ammount }}</span></li>
                      <li class="list-group-item"><span>Transaction Type: {{ tx.type === 'D' ? 'Debit' : 'Credit' }}</span></li>
                    </ul>        
                  </ng-template>
                </ngb-panel>
              </ngb-accordion>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>  
</div>
<router-outlet></router-outlet>